{% extends "base.html" %}

{% block body %}   

    <h1>Melon details</h1>

    <h2>{{ melon.common_name }}</h2>
    <img class="melon-image" src="{{ melon.image_url }}">
    <h3>Price: {{ melon.price_str() }}</h3>
    <h4>Color: {{ melon.color }}</h4>
    
    {% if melon.seedless %}
        <h5>Seedless melon!</h5>
    {% else %}
        <h5>WARNING! THIS MELON HAS SEEDS.</h5>
    {% endif %}
    <a class="btn btn-primary" href="{{ url_for('add_to_cart', melon_id=melon.melon_id) }}">Add to Cart</a>
    
{% endblock %}